body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f4f6fb;
}

/* NAV */
/* ===== MENU SUPERIOR ===== */
nav {
    background: linear-gradient(135deg, #0d6efd, #084298);
    padding: 18px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0 0 18px 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* LOGO / TÍTULO */
nav strong {
    font-size: 20px;
    letter-spacing: 0.5px;
}

/* LINKS */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    padding: 8px 14px;
    border-radius: 10px;
    transition: 0.3s;
}

/* HOVER */
nav a:hover {
    background: rgba(255,255,255,0.2);
}

/* MOBILE */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
}


/* LAYOUT */
.layout {
    display: flex;
    min-height: calc(100vh - 70px);
}

/* IMAGEM LATERAL */
.side-image {
    flex: 1;
    background: url("../img/fundo.jpg") no-repeat center center;
    background-size: cover;
}

/* FORM */
.box {
    flex: 1;
    max-width: 420px;   /* antes 520px */
    margin: auto;
    padding: 22px;      /* antes 35px */
    background: rgba(255,255,255,0.1);
    border-radius: 14px;
    box-shadow: 0 16px 32px rgba(0,0,0,0.15);
}


/* INPUTS */
input, button {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* BOTÕES */
button {
    background: #0d6efd;
    color: white;
    font-weight: bold;
    border: none;
}

#btnStart { background: #198754; }
#btnStop { background: #dc3545; }

/* RESPONSIVO */
@media (max-width: 900px) {
    .layout {
        flex-direction: column;
    }

    .side-image {
        height: 220px;
    }

    .box {
        margin: 20px;
    }
}

